{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Home Page</h1>
    <form method="get" action="#">
    {% csrf_token %}
        <label for="searchby">Select:</label>
        <select name="searchby" id="searchby">
            <option value="title">Title</option>
            <option value="publisher">Publisher</option>
            <option value="author">Author</option>
            <option value="genre">Genre</option>
            <option value="isbn">ISBN</option>
        </select>
        <input type = 'text' name = 'query' id = 'query'>
        <button type="submit", name="search", value="search">Search</button>
    </form>

<h3>Books</h3>
    {% for book in books %}
        <a href = "/{{book.id}}" >{{book.title}}</a> <br>
    {% endfor %}

<h3>Newest Arrivals</h3>
    {% for book in new %}
        <a href = "/{{book.id}}" >{{book.title}}</a> <br>
    {% endfor %}
<h3>Popular Books</h3>
    {% for book in popular %}
        <a href = "/{{book.id}}" >{{book.title}}</a> <br>
    {% endfor %}
{% endblock %}